---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Syntax highlighting sass properties and inclusion
$base-font-size: 1em;
$spacing-unit:     30px !default;

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

@import "syntax-highlighting";

@media screen and (max-width: 599px){
    #nav-burger, #contato-web{
        visibility: hidden;
        display: none;
    }
}
@media screen and (min-width: 600px){
    #contato-mobile{
        visibility: hidden;
        display: none;
    }
}

.recuo-logo{
    margin-top: 5px;
}

.card-reveal{
    height: 100px;
}

#divisor {
    margin-top: 50px;
    margin-bottom: 40px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
}

#entre-contato{
    font-weight: 300;
}
